<h1>Editing Advertisement</h1>

<%= render 'form', advertisement: @advertisement %>

<%= link_to 'Show', @advertisement,class:"btn btn-secondary" %>

 <%= link_to 'Back', advertisements_path,class:"btn btn-secondary" %>
